USE [master]
GO
/****** Object:  Database [jogodavelha]    Script Date: 07/06/2025 20:19:25 ******/
CREATE DATABASE [jogodavelha]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jogodavelha', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\jogodavelha.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jogodavelha_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\jogodavelha_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jogodavelha].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jogodavelha]
GO
/****** Object:  User [phpuser]    Script Date: 07/06/2025 20:19:25 ******/
CREATE USER [ana] FOR LOGIN [ana] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ana]
GO
/****** Object:  Table [dbo].[jogadas]    Script Date: 07/06/2025 20:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jogadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partida_id] [int] NULL,
	[posicao] [int] NULL,
	[jogador] [char](1) NULL,
	[rodada] [int] NULL,
	[simbolo] [char](1) NOT NULL,
	[ordem_jogada] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimentos]    Script Date: 07/06/2025 20:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[partida_id] [int] NOT NULL,
	[jogador_id] [int] NULL,
	[posicao] [int] NOT NULL,
	[ordem] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partidas]    Script Date: 07/06/2025 20:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jogador1_id] [int] NULL,
	[jogador2_id] [int] NULL,
	[vencedor_id] [int] NULL,
	[data_partida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 07/06/2025 20:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[senha] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[movimentos] ON 

INSERT [dbo].[movimentos] ([id], [partida_id], [jogador_id], [posicao], [ordem]) VALUES (1, 78, NULL, 0, 1)
INSERT [dbo].[movimentos] ([id], [partida_id], [jogador_id], [posicao], [ordem]) VALUES (2, 78, NULL, 4, 2)
INSERT [dbo].[movimentos] ([id], [partida_id], [jogador_id], [posicao], [ordem]) VALUES (3, 78, NULL, 8, 3)
SET IDENTITY_INSERT [dbo].[movimentos] OFF
GO
SET IDENTITY_INSERT [dbo].[partidas] ON 

INSERT [dbo].[partidas] ([id], [jogador1_id], [jogador2_id], [vencedor_id], [data_partida]) VALUES (6, 1, NULL, 1, CAST(N'2025-06-06T17:10:07.727' AS DateTime))
INSERT [dbo].[partidas] ([id], [jogador1_id], [jogador2_id], [vencedor_id], [data_partida]) VALUES (7, 1, NULL, NULL, CAST(N'2025-06-06T17:10:18.080' AS DateTime))
INSERT [dbo].[partidas] ([id], [jogador1_id], [jogador2_id], [vencedor_id], [data_partida]) VALUES (13, 1, NULL, NULL, CAST(N'2025-06-06T17:17:57.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[partidas] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [nome], [email], [senha]) VALUES (1, N'gustavo', N'gustavo@gmail.com', N'$2y$10$Z5hWkRBcYBnlxEGLg9AHWOAIhHc8qFquthJBxHALFHnsBAenJ8fEC')
INSERT [dbo].[usuarios] ([id], [nome], [email], [senha]) VALUES (2, N'pedro', N'pedro@gmail.com', N'$2y$10$TEMn8IDw2EwP5vyY/DQqh.2e8dAvKlqTzBr5PK2j/28d6koW6y0yK')
INSERT [dbo].[usuarios] ([id], [nome], [email], [senha]) VALUES (3, N'nicole', N'nicole1@gmail.com', N'$2y$10$FjF/NVyi4DdH/Plej2pCzOvs7jdrh7b2VKWgIxCZB3k.yRmo3zg2i')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__AB6E6164B7F6E803]    Script Date: 07/06/2025 20:19:25 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[jogadas] ADD  DEFAULT ('X') FOR [simbolo]
GO
ALTER TABLE [dbo].[jogadas] ADD  DEFAULT ((1)) FOR [ordem_jogada]
GO
ALTER TABLE [dbo].[partidas] ADD  DEFAULT (getdate()) FOR [data_partida]
GO
ALTER TABLE [dbo].[jogadas]  WITH CHECK ADD FOREIGN KEY([partida_id])
REFERENCES [dbo].[partidas] ([id])
GO
ALTER TABLE [dbo].[movimentos]  WITH CHECK ADD FOREIGN KEY([partida_id])
REFERENCES [dbo].[partidas] ([id])
GO
USE [master]
GO
